@import '../../styles/variables.scss';

.works {
  width: 100%;
  @include mobile {
    margin-top: 2rem;
  }
  &__title {
    margin: 2rem 0;
    @include mobile {
      font-size: 3rem;
    }
  }
  &__head {
    display: grid;
    grid-template-columns: 1fr repeat(2, 1fr);
    width: 100%;
    padding: 1rem 0;
    font-size: 1.4rem;
    text-transform: uppercase;
  }
  &__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    width: 100%;
    margin-bottom: 2rem;
    @include mobile {
      grid-template-columns: 1fr;
    }
    @include tablet {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
