@import './styles/variables.scss';

main,
#root {
  width: 100%;
  display: flex;
}

main {
  /* justify-content: space-between; */
  padding: 0 5rem 0 5rem;
  @include mobile {
    padding: 0 2rem;
  }
  @include tablet {
    padding: 0 3rem;
  }
}

.App {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include mobile {
   justify-content: center;
    align-items: center;
  }
}

.links {
  margin-top: 1rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.5rem;
  transition: all 0.3s ease-in-out;
  &__link {
    color: #dfcefd;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    &:hover {
      color: rgb(213 105 170); /* Change color on hover */
    }
  }
}
